<ion-header>
  <ion-toolbar color="favorite">
   
      <ion-button color="secondary" slot="end" fill= "clear" (click)="presentActionSheet()">
        <ion-icon name="menu"></ion-icon>  
      </ion-button>
    <ion-title class="ion-text-center" color="secondary">
      EmbarazoApp
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen color="claro">
  <div style="position: absolute;top: 50%;left: 16px;font-size: 25px;z-index: 2;" (click)="slidePrev()">
    <ion-icon name="arrow-back"></ion-icon>
  </div>
  <div style="position: absolute;top: 50%;right: 16px;font-size: 25px;z-index: 2;" (click)="slideNext()">
    <ion-icon name="arrow-forward"></ion-icon>
  </div>
    <ion-slides paginationType="bullets" slidesPerView="1" pager="true" class="slide-full" >   
        <ion-slide *ngFor="let slide of data | async">
          <ion-card color="claro">
            <ion-card-header >
                <ion-title class="ion-text-center" color="secondary">
                    Semana {{ slide.id }}
                   </ion-title>
            </ion-card-header>
                       
            <ion-card-content no-border >

                <ion-row class="ion-text-left">
                  <ion-col size="5">
                      <img [src]="slide.img" class="slide-image">
                  </ion-col>      
                 
                        <ion-col size="5">
                          <br>
                            <p>
                            Peso: {{ slide.peso}}
                            <br>
                            Tamaño: {{ slide.tamano}}
                            <br>
                              (Cabeza a trasero)
                            </p>
                          </ion-col> 
                </ion-row>
                
                <ion-segment color="secondary" [(ngModel)]="switch">
                    <ion-segment-button value="tu_bebe">
                        Tu bebe
                    </ion-segment-button>
                    <ion-segment-button value="tu_cuerpo">
                        Tu cuerpo
                    </ion-segment-button>
                    <ion-segment-button value="consejo">
                        Consejo salud
                    </ion-segment-button>
                   
                  </ion-segment>
                  <div [ngSwitch]="switch">
                    <ion-list no-border *ngSwitchCase="'tu_bebe'">
                      <ion-item> <p>{{slide.bebe}}</p></ion-item>
                    </ion-list>
                    <ion-list *ngSwitchCase="'tu_cuerpo'">
                      <ion-item><p>{{slide.mama}}</p></ion-item>
                    </ion-list>
                    <ion-list *ngSwitchCase="'consejo'">
                        <ion-item><p>{{slide.consejo}}</p></ion-item>
                      </ion-list>
                  </div>
              
            </ion-card-content>
            <br>
            <br><br><br>
            <ion-footer>
                <ion-fab   horizontal="end" vertical="bottom" slot="fixed">
                    <ion-fab-button color="favorite">
                        <ion-icon color="secondary" name="share"></ion-icon>
                    </ion-fab-button>
                    <ion-fab-list side="start">
                      <ion-fab-button color="claro" (click)="shareFacebook()">
                        <ion-icon name="logo-facebook"></ion-icon>
                      </ion-fab-button>
                      <ion-fab-button color="claro"(click)="shareTwitter()">
                        <ion-icon name="logo-twitter"></ion-icon>
                      </ion-fab-button>
                      <ion-fab-button color="claro" (click)="shareWhatsapp()">
                        <ion-icon name="logo-whatsapp"></ion-icon>
                      </ion-fab-button>
                    </ion-fab-list>
                  </ion-fab>
              </ion-footer>
            
          </ion-card>
          
        </ion-slide>
        
      </ion-slides>
      
</ion-content>
